

h1, h2, button {
    font-family: $fontEnglish;
}

nav, p {
    font-family: $fontRoboto;
}

h2 {
    font-size: 4rem;
    font-weight: 400; 
}

h3 {
    font-size: 3rem;
    font-family: $fontEnglish;
}

h4 {
    font-size: 2rem;
    font-family: $fontRoboto;
}



// BUTON STYLES

button {
    text-transform: uppercase;
    font-size: 1.5rem;
}



    
